.Featured {
    flex: 1.85;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 1rem;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: gray;

        .title {
            font-size: 1.6rem;
        }
    }

    .bottom {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;

        .featuredChart {
          width: 10rem;
          height: 10rem;
        }

        .title {
            font-weight: 500;
            color: gray;
        }

        .amount {
            font-size: 3rem;
        }

        .desc {
            font-size: 1.2rem;
            color: gray;
            text-align: center;
        }

        .summary {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .item {
                text-align: center;

                .itemTitle {
                    font-size: 1.4rem;
                    color: gray;
                }

                .itemResult {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;
                    font-size: 1.4rem;

                    &.positive {
                        color: green;
                    }

                    &.negative {
                        color: red;
                    }

                    .resultAmount {

                    }
                }
            }
        }
    }
}

