.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #78909c;
  background-image: linear-gradient(to right top, #b3e5fc, #a5ceff, #bbaff7, #dd89d2, #f06292);
}