.loader {
	border: 16px solid #bdc3c7;
	height: 120px;
	width: 120px;
	margin: auto;
	border-top-color: #1abc9c;
	border-bottom-color: #3498db;
	border-radius: 50%;
	animation-name: spin;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes spin {
	0%{
		transform: rotate(0deg) scale(1);
	}
	50%{
		transform: rotate(180deg) scale(1.1);
	}
	100%{
		transform: rotate(360deg) scale(1);
	}
}

@keyframes appear {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 100;
	}
}