.PokeCard {
    width: 25rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}

.PokeCard-data {
    font-size: 80%;
}

.PokeCard-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-color: #eceff1;
    border-radius: 5px;
    margin: 1.6rem;
}

.PokeCard img {
    transition: all .25s ease-in-out;
    width: 70%;
}

.PokeCard img:hover {
    transform: scale(1.25);
    opacity: 0.8;
}