.PokeCard {
    width: 25rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}

.PokeCard-data {
    font-size: 80%;
}