.Chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  color: grey;
  padding: 1rem;

  .title {
    margin-bottom: 2rem;
  }

  .chartGrid {
    stroke: lightgray;
  }
}
